@font-face {
  font-family: "Co Headline";
  src: url("./assets/fonts/CoHeadline_Rg.ttf");
}

:root {
  --black: #090105;
  --green: #0fbf4d;
  --green-dark: #0dab45;
  --white: #ffffff;
  --font-primary: "Co Headline";
  --font-secondary: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary), sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__toggler {
  display: none;
}

.navbar__nav {
  display: flex;
  gap: 2rem;
}

.navbar__nav-link {
  color: var(--green);
  text-decoration: none;
}

.navbar__nav-link:hover {
  text-decoration: underline;
}

.hero {
  height: 100vh;
  text-align: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/script-background.svg"), url("./assets/images/script-background.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -50% center, 150% center;
}

.hero__body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__foot {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  gap: 1rem;
}

.hero__body, .hero__foot {
  font-family: var(--font-secondary), sans-serif;
}

.hero__title {
  color: var(--white);
  font-size: 5em;
  font-weight: 600;
}

.hero__icon {
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  transition: 0.15s;
}

.hero__icon:hover {
  color: var(--black);
  background-color: var(--green-dark);
}

.hero__link {
  text-decoration: none;
  color: var(--green);
}

.hero__link:hover {
  text-decoration: underline;
}

.projects {
  background-color: var(--black);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.projects__item {
  width: calc(50% - 2.5rem);
}

.projects__img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.projects__title {
  color: var(--green);
  font-size: 1.25em;
  line-height: 2em;
  font-weight: 400;
}

.projects__subtitle {
  color: var(--white);
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1rem;
}

.projects__tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects__tag {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  font-family: var(--font-secondary), sans-serif;
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 300;
}

.info {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.info .container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.info__section {
  display: flex;
}

.info__left, .info__right {
  width: 50%;
}

.info__title {
  font-size: 2.5em;
  color: var(--green);
}

.info__paragraph {
  font-family: var(--font-secondary), sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
}

.info_paragraph--mb-1 {
  margin-bottom: 1rem;
}

.info__people {
  display: flex;
  gap: 2.5rem;
}

.info__person {
  width: calc(100% / 3);
}

.info__image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.info__role {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.info_skills {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.info_skill {
  font-family: var(--font-secondary), sans-serif;
  font-size: 0.875em;
  line-height: 1.125;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  display: inline-block;
}

.contact {
  background-color: var(--black);
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("./assets/images/script-background.svg"), url("./assets/images/script-background.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -50% center, 150% center;
}

.contact .container {
  display: flex;
  flex-direction: column;
}

.contact__brand {
  text-align: center;
  margin-bottom: 5rem;
}

.contact__title {
  color: var(--white);
  font-size: 4em;
  font-weight: 600;
  font-family: var(--font-secondary), sans-serif;
  line-height: 1.5;
}

.contact__subtitle {
  text-align: center;
  color: var(--white);
  font-family: var(--font-secondary), sans-serif;
  line-height: 1.75;
  font: 1.25em;
  margin-bottom: 5rem;
}

.contact__heading {
  text-align: center;
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-family: var(--font-secondary), sans-serif;
}

.contact__icon {
  color: var(--green);
  margin-right: 0.5rem;
}

.contact__link:hover {
  text-decoration: underline;
}

.footer {
  background-color: var(--black);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  color: var(--white);
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .hero, .contact {
    background-image: none;
  }
}

@media (max-width: 768px) {
  .navbar__toggler {
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    color:  var(--green);
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    font-size: 1em;
    cursor: pointer;
    transition: 0.15s;
    line-height: 0;
  }

  .navbar__toggler:hover {
    background-color: var(--green);
    color:  var(--black);
  }

  .navbar__nav {
    display: none;
    margin-top: 1rem;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .navbar__nav--show {
    display: flex;
  }

  .navbar__nav-link {
    text-align: start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .hero__title {
    font-size: 3em;
  }

  .projects__item {
    width: 100%;
  }

  .info__section {
    flex-wrap: wrap;
  }

  .info__left, .info__right {
    width: 100%;
  }

  .info__title {
    margin-bottom: 2.5rem;
  }

  .info__people {
    flex-wrap: wrap;
  }

  .info__person {
    width: 100%;
  }

  .contact__links {
    flex-direction: column;
  }

  .contact__link {
    padding: 1rem 0.5rem;
    min-height: 3.75em;
  }

  .footer .container {
    flex-direction: column;
    gap: 1rem;
  }

  .footer__link {
    padding: 1rem 0.5rem;
  }
}
