@font-face {
  font-family: "Co Headline";
  src: url("./CoHeadline_Rg.ttf");
}

:root {
  --black: #090105;
  --green: #00C041;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Co Headline", sans-serif;
  font-size: 16px;
  line-height: 1;
}


.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.navbar {
  background-color: var(--black);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar__nav {
  display: flex;
  gap: 8rem;
}

.navbar__nav-link {
  color: var(--green);
  text-decoration: none;
}

.navbar__nav-link--disabled {
  pointer-events: none;
  color: gray;
}

.container2 {
  width: 100%;
  height: 680px;
  background-size: cover;
  margin-top: 0px;
  text-align: center;
  padding-top: 200px;
  font-family: 'poppins';
  background-color: #090105;
}

.container2 h1 {
  color: white;
  font-size: 70px;
}

.down {
  position: fixed;
  bottom: 23rem;
  right: 63rem;
  background: var(--black);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--green);
  border: 0.2rem solid var(--green);
}

.ver_mais{
  position: absolute;
  color: var(--green);
  width: 97px;
  height: 24px;
  left: 1040px;
  top: 685px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 275;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
}