@font-face {
  font-family: "Co Headline";
  src: url("./CoHeadline_Rg.ttf");
}

:root {
  --black: #090105;
  --green: #0fbf4d;
  --green-dark: #0dab45;
  --white: #ffffff;
  --font-primary: "Co Headline";
  --font-secondary: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary), sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar__nav {
  display: flex;
  gap: 2rem;
}

.navbar__nav-link {
  color: var(--green);
  text-decoration: none;
}

.navbar__nav-link:hover {
  text-decoration: underline;
}

.hero {
  height: 100vh;
  text-align: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

.hero__body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__foot {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  gap: 1rem;
}

.hero__body, .hero__foot {
  font-family: var(--font-secondary), sans-serif;
}

.hero__title {
  color: var(--white);
  font-size: 5em;
  font-weight: 600;
}

.hero__icon {
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  transition: 0.5s;
}

.hero__icon:hover {
  color: var(--green-dark);
  border-color: var(--green-dark);
  transform: translateY(-2px);
}

.hero__link {
  text-decoration: none;
  color: var(--green);
}

.hero__link:hover {
  text-decoration: underline;
}


.projects {
  background-color: var(--black);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.projects__item {
  width: calc(50% - 2.5rem);
}

.projects__img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.projects__title {
  color: var(--green);
  font-size: 1.25em;
  line-height: 2em;
  font-weight: 400;
}

.projects__subtitle {
  color: var(--white);
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1rem;
}

.projects__tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects__tag {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  font-family: var(--font-secondary), sans-serif;
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 300;
}